body {
    margin: 0;
    background-color: white;
}

#final-navbar {
    position: relative;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(247, 247, 247);
    max-height: 75px;
    color: #003366;
    overflow: hidden;
    z-index: 10;
    transition: all 1s;

}

#elclasico {
    font-family: prohibition, sans-serif;
    font-weight: 300; 
    font-style: normal;
    font-size: 250%;
    margin-top: 12px;
    margin-left: 2%;
    white-space: nowrap;
}

#realmadridlogo {
    height: 64.28px;
    width: 48px;
    padding-top: 5px;
    margin-left: auto;
}

#barcalogo {
    height: 48.68px;
    width: 48px;
    padding-top: 16px;
    margin-left: 2%;
    margin-right: auto;
}

#pages {
    font-family: prohibition, sans-serif;
    font-weight: 400; 
    font-style: normal;
    font-size: 175%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


a {
    text-decoration: none;
    color: #003366;
}

a:hover {
    text-decoration: none;
    color: rgb(87, 87, 87);
}

#navbar-content {
    display: flex;
    margin: auto;
}

#home-photo {
    padding-top: 75px;
    width: 100%;
}

.content text {
    margin: auto;
    font-family: rigid-square, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    color: black;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 850px;
    margin: auto;
}

@media (min-width: 1200px) {
    #navbar-content {
        max-width: 70%;
        transition: all 1s;
    }
}

@media (max-width: 800px) {
    #barcalogo {
        height: 36.5px;
        width: 36px;
        transition: all .5s;

    }

    #elclasico {
        font-size: 175%;
        transition: all .5s;
    }

    #realmadridlogo {
        height: 48.21px;
        width: 36px;
        transition: all .5s;
    }

    #pages {
        font-size: 120%;
        transition: all .5s;
    }

    #navbar {
        max-height: 60px;
    }

    #home-photo {
        padding-top: 60px;
    }

    .content p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.1rem;
    }
}

@media (max-width: 550px) {
    #barcalogo {
        height: 30.38px;
        width: 30px;
        transition: all .5s;

    }

    #elclasico {
        font-size: 150%;
        transition: all .5s;
    }

    #realmadridlogo {
        height: 40.175px;
        width: 30px;
        transition: all .5s;
    }

    #pages {
        font-size: 110%;
        transition: all .5s;
    }
}

#graph-photos {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content-photos {
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.content p#caption-first {
    font-family: rigid-square, sans-serif;
    font-weight: 300;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
    font-style: normal;
    padding-bottom: 10px;
    padding-top: 67px;
    width: 90%;
    color: black;
}

.content p#caption-top {
    font-family: rigid-square, sans-serif;
    font-weight: 300;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
    font-style: normal;
    padding-bottom: 10px;
    padding-top: 50px;
    width: 90%;
    color: black;
}

.content p#caption-bottom {
    font-family: rigid-square, sans-serif;
    font-weight: 300;
    margin: auto;
    font-size: 1em;
    text-align: center;
    font-style: normal;
    padding-top: 10px;
    width: 90%;
    color: black;
}

#spacer {
    margin-top: 100px;
}

#players-photos {
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#players-photos1 {
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}