body {
    background-color: rgb(34, 34, 34);
}

p {
    text-align: center;
    font-family: "Courier New";
    font-weight: normal;
}

h1, h3 {
    text-align: center;
    font-family: "Helvetica";
    color:rgb(255, 255, 255)
}

.peter {
    color:rgb(0, 255, 128)
}

.dana {
    color:rgb(0, 255, 242)
}

.mayor {
    color:rgb(225, 0, 255)
}

.ray {
    color:rgb(255, 145, 0)
}

.egon {
    color:rgb(251, 255, 0)
}

.winston {
    color:royalblue
}

.narrator {
    color:rgb(214, 214, 214)
}

