header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

#unbreakable-kimmy-schmidt h1, #game-of-thrones h1 {
    border-top: 1px solid black;
    padding-top: 20px;
    font-size: 2.5rem;
    font-weight: lighter;
}

#unbreakable-kimmy-schmidt h2, #game-of-thrones h2 {
    font-size: 1rem;
    font-weight:lighter;
    text-transform: uppercase;
}

.cast img {
    width: 100%;
}

.cast li {
    width: 25%;
}

.cast li:not(img) {
    font-size: 0.8rem;
}

.cast li div:first-of-type { 
    font-weight: bold;
}

.cast li div:last-of-type { 
    font-style: italic;
}

nav ul li.selected {
    font-weight: bold;
    color: black;
}

section.seasons ul li:last-of-type::after {
    content:"*";
}

section.seasons::after {
    content:"* Final Season";
    font-size: 0.7em;
    color: #999;
}